doctype
html
  head
    title ExpressAuth
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css', rel='stylesheet')
body
    .container
      .navbar
        .navbar-inner
          a.brand(href='/') ExpressAuth
          ul.nav
            block navSelect
            if currentUser
              li(class=nav.members): a(href='/members') Members
              li(class=nav.account): a(href='/members/account') Account
              li(class=nav.logout): a(href='/logout') Logout
            else
              li(class=nav.login): a(href='/login') Login
              li(class=nav.signup): a(href='/signup') Sign Up
              li(class=nav.reminder): a(href='/reminder') Reminder
      if notice
        .alert.alert-info= notice
      block mainContent
      footer
        hr
        p
          a(href="http://github.com/nickbarth/expressauth") ExpressAuth
          |  &copy; 2013 Nick Barth
